.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	position: sticky;
	top: 0;
	height: 5rem;
}

.nav-container1 {
	display: flex;
	margin: 0.9rem;
}

.nav-container2 {
	display: flex;
}

.text-containers {
	margin: 20px;
}
